#ignore DS_Store
.DS_Store
#ignore Yelp API file
yelp_api_key.R
#ignore Google API file
google_api_key.R
#ignore sample funcitons script I'm saving for testing
sample_functions.R
#ignore the .Rhistory file
.Rhistory
#ignore the .Rdata file
.Rdata
#ignore the test file for Rmarkdown knits
RMarkdown_Test.Rmd
#ignore any html files created by knitting the test file
RMarkdown_Test.html
#ignore the knitted html file
semester_project.html
#ignore the .md file of my project. I'll inclue a .pdf version as a final report
semester_project.md
#ignore my final presentation file
final_presentation.Rmd
#ignore the presentation slidy_presentation
final_presentation_backup.html
#ignore the figure folder
figure
