#ignore DS_Store
.DS_Store
#ignore Yelp API file
yelp_api_key.R
#ignore Google API file
google_api_key.R
#ignore sample funcitons script I'm saving for testing
sample_functions.R
#ignore the .Rhistory file
.Rhistory
#ignore the .Rdata file
.Rdata
#ignore the test file for Rmarkdown knits
RMarkdown_Test.Rmd
#ignore any html files created by knitting the test file
RMarkdown_Test.html
#ignore the knitted files
#I'm not sure whether either of these will end up containing my api keys, so just to be safe I'm marking them to be ignored
semester_project.html
semester_project.pdf
#ignore the .md file of my project. I'll inclue a .pdf version as a final report
semester_project.md
final_project_workspace.Rdata
